<div class="page secondary with-sidebar">
        <div class="page-header">
            <div class="page-header-content">
                <h1>Order<small>page</small></h1>
                <a href="" class="back-button big page-back"></a>
            </div>
        </div>

        <div class="page-sidebar">
            <ul>
                <li>
                    <a>Projects</a>
                    <ul class="sub-menu">
                        <li><a href="">Currently</a></li>
                        <li><a href="">Closed</a></li>
                    </ul>
                </li>
                <li>
                    <a>Notes</a>
                    <ul class="sub-menu">
                        <li><a href="">Important</a></li>
                        <li><a href="">Today</a></li>
                        <li><a href="">Weekly</a></li>
                        <li><a href="">Monthly</a></li>
                    </ul>
                </li>

                <li><a href="#"><i class="icon-cart"></i> Shopping</a></li>
                <li class="sticker sticker-color-orangeDark"><a href="#"><i class="icon-clipboard"></i> Recipes</a></li>
                <li class="sticker sticker-color-green"><a href="#"><i class="icon-history"></i> Hobbies</a></li>
                <li class="sticker sticker-color-pink dropdown active" data-role="dropdown">
                    <a><i class="icon-list"></i> To Do</a>
                    <ul class="sub-menu light sidebar-dropdown-menu open">
                        <li><a href="">Today</a></li>
                        <li><a href="">To Do List</a></li>
                        <li><a href="">To Do after work</a></li>
                        <li><a href="">Movies to watch</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="page-region">
            <div class="page-region-content">
                <div class="span9">
                    <h2>Before</h2>

                </div>
            </div>
        </div>
    </div>